extends layout

block content
  p(style='background-color: #eee; padding: 0.5em; padding-left: 2em;')
    i.fi-alert(style='color: #ec5840;')
    |  If you came here to apply for the chesster ios beta/testflight go 
    a(href='http://chesster.mateybyrd.net') here
    | .
  p
    h5 Welcome
    | Hi there stranger, welcome to my website. Currently I am building it with the 
    a(href='http://foundation.zurb.com') Foundation
    |  framework.
  p 
    | This website is mainly meant to showcase projects I am working on, most of which will be open-source and which you will be able to find on 
    a(href='https://github.com/MateyByrd') my github