extends layout

block head
  link(rel='stylesheet', href='/stylesheets/pages/homepage.css')

block content
  .medium-8.columns
    .box
      h5 Welcome
      p
        | Hi there stranger, welcome to my website, here I post updates about all the projects I am working on. You can find all the open source projects on #[a(href='https://github.com/MateyByrd')  my github].
      p
        | I am building this website using the #[a(href='http://foundation.zurb.com')  Foundation] framework.
  .medium-4.columns
    .box
      h5 Development Status
      p
        | Current things I am working on, <br>
      b Website <br>
      ul(style='margin-left: 1em;')
        li Projects page
        ul
          li Specific projects pages
          li Article system for projects




