doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/foundation-icons.css')
    link(rel='stylesheet', href='/stylesheets/mateybyrdnet.css')
    block head
  body
    //- Header image and menu
    a(style={color: 'red', background: 'green'})
    - var style
    - if (!image)
      - style = 'height: 0px';
    .header-image(style='background-image: url(#{image});' + style)
      - if (image)
        .copyright Image from
          a(href='http://www.rom.ac')  ROM.AC

    .top-bar
      .medium-10.large-8.medium-centered.columns
        .top-bar-left(class='hide-for-small-only')
          h4(style='color: white;') Mateybyrd
            small .Net
        .top-bar-right
          ul.menu
            - if (menuItems) for (var i=0; i<menuItems.length; i++)
              - var style = 'menulink';
              - if (pageId == i) style += ' selected';
                li
                  a(class=style, href='#{menuItems[i].link}', target='#{menuItems[i].target}')= menuItems[i].name


    //- Actual page
    block contentBefore
    .row
      block contentRow
      .margin-top-1
      .main
        .medium-10.medium-offset-1.columns
          block content

    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/foundation.min.js')
    script(src='/javascripts/foundation.sticky.js')