extends layout

block head
  link(rel='stylesheet', href='/stylesheets/pages/movieDisplay.css')

block contentBefore
    - var image = '/images/movies/' + movie.image;
    .movie
      .box
        h4= movie.title
        h5 Prijs #[small p.p.]: €#{movie.price}
        br
        h5 Description
        p= movie.description
