extends layout

block head
  link(rel='stylesheet', href='/stylesheets/pages/movies.css')

block contentBefore
  - for (var i=0; i<movies.length; i++)
    +movie


mixin movie
  - var movie = movies[i];
  - var image = '/images/movies/' + movie.image;
  a(href='/movies/' + movie._id)
    .movie
      .movieCover(style='background-image: url(#{image});')
      .title(id='#{movie._id}')= movie.title

mixin movieInfo
  .row
    .small-12.medium-10.columns
      h5= movie