extends layout

block head
  link(rel='stylesheet', href='/stylesheets/pages/movies.css')

block contentBefore
  .small-12.columns(style='padding: 0px;')
    .movierow
      - for (var i=0; i<movies.length; i++)
        +movie


mixin movie
  - var image = '/images/movies/' + movies[i].image;
  .movie(href='#', onclick='$(\'##{movies[i]._id}\').toggle();')
    .movieCover(style='background-image: url(#{image});')
    .title(id='#{movies[i]._id}')= movies[i].title

mixin movieInfo
  .row
    .small-12.medium-10.columns
      h5= movie