extends layout

block head
  link(rel='stylesheet', href='/stylesheets/pages/movies.css')

block content
  - for (var i=0; i<movies.length; i++)
    +movie

mixin movie
  - var movie = movies[i];
  - var image = '/images/movies/' + movie.image;
  a(href='/movies/' + movie._id)
    .movie.medium-6.columns
      .box(style='height: 12em; padding:0;')
        .small-3.columns(style='padding: 0')
          .movieCover(style='background-image: url(#{image});')
        .movieInfo.small-9.columns(style='padding: 0;')
          .title= movie.title
            .subtitle= movie.subtitle
          .description= movie.description