extends layout

block head
  link(rel='stylesheet', href='/stylesheets/pages/movies.css')

block contentBefore
  .small-12.columns(style='padding: 0px;')
    .movierow
      - for (var i=0; i<movies.length; i++)
        +movie


mixin movie
  - var image = '/images/movies/' + movies[i].image;
  .movie
    .movieCover(style='background-image: url(#{image});')
    .title= movies[i].title