
@import url("/public/stylesheets/foundation.min.css");

/* All the general css for each page */

body {
  background-color: #eee;
}

.header-image {
  position: relative;
  z-index: -1;
  background-position: center bottom;
  -webkit-background-size: cover;
  background-size: cover;
  height: 275px;
}

.header-image .copyright {
  background-color: rgba(30, 30, 30, 0.7);
  position: absolute;
  font-size: 0.7em;
  bottom: 6px;
  right: 0px;
  padding: 4px;
  color: white;
}

.overtop-header {
  margin-top: -3em;
}

.row main {
  background-color: rgb(240,240,240);
}

.top-bar {
  position: absolute;
  top: 0;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.top-bar .columns {
  padding: 0;
}

/* Make the menu bar scrollable if it's too big for the screen */
.top-bar ul.menu {
  padding-left: 1em;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.top-bar ul {
  background-color: transparent;
}

.top-bar li a.menulink {
  border-bottom: 2px solid #eee;
}

.top-bar li a.selected {
  /*background-color: #eee;*/
  border-bottom: 2px solid #2199e8;
}

.top-bar li:hover a:not(.selected)  {
  border-bottom: 2px solid #ddd;
}

/*.top-bar li:hover *:not(.selected) {*/
  /*border-bottom: 2px solid #ddd;*/
/*}*/


.margin-top-1 {
  margin-top: 1em;
}

.margin-top-2 {
  margin-top: 2em;
}

.labelimage {
  height: 1.5em;
  widht: auto;
  margin-left: 0.2em;
}

.box {
  background-color: #fff;
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid #ddd;
}